<head>
    <style> body { margin: 0; } </style>
    <title>MetaVoxel</title>

    <script src="../lib/dat.gui.js"></script>

    <script src="//unpkg.com/three"></script>
  
    <script src="../lib/js-colormaps.js"></script>
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="//unpkg.com/3d-force-graph"></script>
    <!-- <script src="../lib/3d-force-graph.js"></script> -->
    <script src="//unpkg.com/three-spritetext"></script>

    <script src="../visualization/utils.js"></script>
  </head>
  
  <body>
    <div id="3d-graph"></div>
  
    <script>
        var color1= 0xffffff; /*white*/
        var color2= '#020227';  /*kohly*/
        var color3= 0x1c5c61; /*teal*/
        var color4= "#fa6e70"; //red/orange
        var color5="#380152"; //purple
        var color6="#696767"; //grey
        var color7="#03dbfc"; //blue

        // let socket = new WebSocket("ws://localhost:8000");
        // // The socket connection needs two event listeners:
        // socket.onopen = openSocket;
        // function openSocket() {
        // // text.textContent="Socket open!";
        //     socket.send("2000,2000");
        // }


        var scale,nodeScale;
        var simName="tutorial"

        let Graph,gData,gui,guis;
        let maxNumFiles=0;

        var interaction= {
            exaggeration:1,
            speed:100
        }
        var simulation={
            simName:"tutorial",
            load:1,
            lowerTendon:3000,
            upperTendon:3000,
            prevlowerTendon:3000,
            prevupperTendon:3000,
        }
        var calls={
            'Load Simulation':function() {
                loadSimulation(simulation.simName);
            },

        }

        // fetch("/", {
        //     method: 'POST',
        //     headers: {
        //         'Content-Type': 'application/json'
        //     },
        //     body: ""
        // })
        // .then(response => response.json())
        // .then(function(response) {
        //     if (response.ok) {
        //         console.log('got data: ', response.data);
        //     }
        //     throw new Error('Request failed.');
        // })
        // .catch(function(error) {
        //     console.log(error);
        // });


        // $.get("/", { data : { foo : JSON.stringify(simulation) } }, function(temp) {
		// 			// temp === "I am done";  
        //             console.log(temp) 
        //     });

    
        /////////////////////////////////////////////////////////////////////

        initializeGraph();
        setInterval(() => {
            updateGraphDis()
                   
        }, interaction.speed);

        function loadSimulation(simName){
            console.log("Load: "+simName);
            simulation.load=1
            $.post("/", { data : { foo : JSON.stringify(simulation) } }, function(temp) {
					// temp === "I am done";  
                    console.log(temp);
            });
        }

        function runSimulation(){
            simulation.load=0
            console.log("Run Sim: "+simName);
            $.post("/", { data : { foo : JSON.stringify(simulation) } }, function(temp) {
					// temp === "I am done";   
                    console.log(temp)
            });
            
            
        }

        function initializeGUI(){
            gui = new dat.GUI();
            
            guis=[]
            gui.add(simulation,'simName').listen();
            gui.add(calls, "Load Simulation");


            // guis.push(gui.add(simulation, 'lowerTendon').min(-6000).max(6000).step(1000))
            // guis.push(gui.add(simulation, 'upperTendon').min(-6000).max(6000).step(1000))

            // guis.forEach(g => {                 
            //     g.onChange(function(value) {
            //         runSimulation();
            //     });
            // });

            var gui1=gui.add(simulation, 'lowerTendon').min(-6000).max(6000).step(1000)
            var gui2=gui.add(simulation, 'upperTendon').min(-6000).max(6000).step(1000)

            gui1.onChange(function(value) {
                if (value!=simulation.prevlowerTendon){
                    simulation.prevlowerTendon=value;
                    simulation.upperTendon=value;
                    // socket.send(value);
                    runSimulation();

                }
            });
            gui2.onChange(function(value) {
                if (value!=simulation.prevupperTendon){
                    simulation.prevupperTendon=value;
                    runSimulation();

                }
            });



        }

        function initializeGraph(){
            initializeGUI();
            
            $.getJSON("../json/"+simulation.simName+"/0.json", function(json0) {
                maxNumFiles=json0.maxNumFiles-1;
                $.getJSON("../json/"+simulation.simName+"/"+maxNumFiles+".json", function(json) {
                    var setup=json;
                    var static=false
                    setup.viz.colorMaps=[YlGnBu,coolwarm, winter ,jet];
                    


                    if(setup.hierarchical){
                        scale=setup.scale*0.001;
                        nodeScale=scale*10;

                    }else{
                        scale=setup.scale*50;
                        nodeScale=scale*2.0;
                    }
                    if (setup.multiscale){

                        scale=setup.scale*0.003;
                        nodeScale=scale*10

                    }
                

                    var stress=0.0;

                    gData = {
                        nodes: setup.nodes.map(node => ({ 
                            // id: node.id,
                            id: (node.parent=="11")?node.id:(node.parent+node.id),
                            px:node.position.x*scale,
                            py:node.position.y*scale,
                            pz:node.position.z*scale,
                            dx:node.displacement.x*scale,
                            dy:node.displacement.y*scale,
                            dz:node.displacement.z*scale,
                            ax:node.angle.x,
                            ay:node.angle.y,
                            az:node.angle.z,
                            restrained:node.restrained_degrees_of_freedom[0],
                            loaded:!(node.force.x==0.0&&node.force.y==0.0&&node.force.z==0.0),
                            displaced:(node.fixedDisplacement===undefined ||(node.fixedDisplacement.x==0&&node.fixedDisplacement.y==0&&node.fixedDisplacement.z==0))?false:true,
                            size:(node.material===undefined) ? nodeScale:(( setup.multiscale===undefined || !setup.multiscale)?(nodeScale*0.8):(node.scale*nodeScale*0.8**(1/node.scale))),
                            opacity: (node.parent=="11"|| setup.multiscale===undefined ||node.parent=="")?0.8:0.0,

                        })),
                        links: setup.edges
                            .filter(edge => edge.id)
                            .map(edge => ({
                                // source: 'n'+edge.source,
                                // target: 'n'+edge.target,
                                source: (setup.multiscale===undefined || !setup.multiscale ||edge.sourceNodalCoordinate==0)?'n'+edge.source:('n'+edge.source+'n'+edge.sourceNodalCoordinate),
                                target: (setup.multiscale===undefined || !setup.multiscale ||edge.targetNodalCoordinate==0)?'n'+edge.target:('n'+edge.target+'n'+edge.targetNodalCoordinate),
                            
                                stresses:new Array(maxNumFiles).fill(getColor(setup.viz,edge.stress)),
                                stressesVal:new Array(maxNumFiles).fill(edge.stress),
                                color:getColor(setup.viz,edge.stress)
                            }))
                    };

                    
                    //////////////////////////////////////////////////////////////////////////
                    Graph = ForceGraph3D({ controlType: 'orbit' }).backgroundColor(color2)
                    (document.getElementById('3d-graph'))
                    .d3Force('center', null)
                    .d3Force('charge', null)
                    .linkWidth(1.0*scale)
                    .linkOpacity(1.0)
                    .nodeThreeObject(({ size,restrained,loaded,displaced,opacity }) => new THREE.Mesh(
                        new THREE.BoxGeometry(size, size, size)
                        ,
                            new THREE.MeshLambertMaterial({
                            color: getNodeColor(restrained,loaded,displaced),
                            transparent: opacity>0.0?false:true,
                            opacity: opacity
                        })
                    ))
                    .d3Force('box', () => {

                            gData.nodes.forEach(node => {
                            node.fx=node.px;
                            node.fy=node.py;
                            node.fz=node.pz;

                        });
                    })
                    .cooldownTime(Infinity)
                    .graphData(gData);

                    var position=new THREE.Vector3(500,100,3000);
                    Graph.camera().position.copy( position );
                    // Graph.camera().lookAt( 500, orbit.target.y, orbit.target.z );
                    // Graph.camera().lookAt( 500, 0, 0 );
                    Graph.controls().target.set( 500, 100, 0 );

                    ////////////////////////////////////
                    drawConstraintBoundingBoxes(json0,Graph.scene(),scale);
                                        
                });
            });

        }
        
        function updateGraphDis(){
            
            $.getJSON("../json/"+simulation.simName+"/"+maxNumFiles+".json", function(json) {
                var setup=json;
                setup.viz.colorMaps=[YlGnBu,coolwarm, winter ,jet];


                gData = {
                    nodes: setup.nodes.map(node => ({ 
                        // id: node.id,
                        id: (node.parent=="11")?node.id:(node.parent+node.id),
                        px:node.position.x*scale,
                        py:node.position.y*scale,
                        pz:node.position.z*scale,
                        dx:node.displacement.x*scale,
                        dy:node.displacement.y*scale,
                        dz:node.displacement.z*scale,
                        ax:node.angle.x,
                        ay:node.angle.y,
                        az:node.angle.z,
                        restrained:node.restrained_degrees_of_freedom[0],
                        loaded:!(node.force.x==0.0&&node.force.y==0.0&&node.force.z==0.0),
                        displaced:(node.fixedDisplacement===undefined ||(node.fixedDisplacement.x==0&&node.fixedDisplacement.y==0&&node.fixedDisplacement.z==0))?false:true,
                        size:(node.material===undefined) ? nodeScale:(( setup.multiscale===undefined || !setup.multiscale)?(nodeScale*0.8):(node.scale*nodeScale*0.8**(1/node.scale))),
                        opacity: (node.parent=="11"|| setup.multiscale===undefined ||node.parent=="")?0.8:0.0,

                    })),
                    links: setup.edges
                        .filter(edge => edge.id)
                        .map(edge => ({
                            // source: 'n'+edge.source,
                            // target: 'n'+edge.target,
                            source: (setup.multiscale===undefined || !setup.multiscale ||edge.sourceNodalCoordinate==0)?'n'+edge.source:('n'+edge.source+'n'+edge.sourceNodalCoordinate),
                            target: (setup.multiscale===undefined || !setup.multiscale ||edge.targetNodalCoordinate==0)?'n'+edge.target:('n'+edge.target+'n'+edge.targetNodalCoordinate),
                        
                            stresses:new Array(maxNumFiles).fill(getColor(setup.viz,edge.stress)),
                            stressesVal:new Array(maxNumFiles).fill(edge.stress),
                            color:getColor(setup.viz,edge.stress)
                        }))
                };
                Graph.graphData(gData);
                // for (var i=0;i<setup.nodes.length;i++){
                //     gData.nodes[i].dx=setup.nodes[i].displacement.x*scale;
                //     gData.nodes[i].dy=setup.nodes[i].displacement.y*scale;
                //     gData.nodes[i].dz=setup.nodes[i].displacement.z*scale;
                // }
                
                
                ///////////////////////////////////////////////////////////
                Graph.d3Force('box', () => {
                        gData.nodes.forEach(node => {
                            
                            node.fx=node.px+node.dx*interaction.exaggeration;
                            node.fy=node.py+node.dy*interaction.exaggeration;
                            node.fz=node.pz+node.dz*interaction.exaggeration;

                        });
                });
                Graph.nodeThreeObject(({ size,restrained,loaded,displaced,ax,ay,az,opacity }) => getMesh(size,restrained,loaded,displaced,ax,ay,az,opacity) );
                Graph.d3Force('box', () => {
                        gData.nodes.forEach(node => {
                            
                            node.fx=node.px+node.dx*interaction.exaggeration;
                            node.fy=node.py+node.dy*interaction.exaggeration;
                            node.fz=node.pz+node.dz*interaction.exaggeration;

                        });
                });
            });
            ///////////////////////////////////////////////////////////
    

        } 
        ////////////////////////////////////////////////////   

        function drawConstraintBoundingBoxes(setup,scene,scale){

            //grid helper
            var helper = new THREE.GridHelper( 100, 100 );
            helper.position.y = -setup.voxelSize/2.0*scale;

            helper.position.y = -setup.voxelSize/2.0*scale +2*setup.voxelSize*scale;
            if (setup.hierarchical){
                helper.position.y=setup.voxelSize*scale*(1.2 -0.1)
            }

            helper.position.y=10000*setup.voxelSize*scale
            helper.position.y=0.0

            helper.material.opacity = 0.4;
            helper.material.transparent = true;
            helper.scale.x=2.0*scale
            helper.scale.z=2.0*scale
            scene.add(helper);

            let supports=setup.supports;
            let loads=setup.loads;
            let mat=setup.materials;
            let disps=setup.fixedDisplacements;
            if (supports ) {
                for (var i=0;i< supports.length;i++) {
                    let s=supports[i][0];
                    drawBox(s.min,s.max,color4,scene,scale);
                }
            }
            if (loads ) {
                for (var i=0;i< loads.length;i++) {
                    let l=loads[i][0];
                    drawBox(l.min,l.max,color7,scene,scale);
                }
                
            }
            if (disps ) {
                for (var i=0;i< disps.length;i++) {
                    let l=disps[i][0];
                    drawBox(l.min,l.max,color7,scene,scale);
                }
                
            }
            if (mat ) {
                
                for (var i=0;i< mat.length;i++) {
                    let l=mat[i][0];
                    drawBox(l.min,l.max,color5,scene,scale);
                }
                
            }
            
        };

        function drawBox (min,max,color,scene,scale) {
            var box = new THREE.Box3(new THREE.Vector3(min.x*scale,min.y*scale,min.z*scale),new THREE.Vector3(max.x*scale,max.y*scale,max.z*scale));
            var helper = new THREE.Box3Helper( box, color );
            scene.add( helper );
            // todo add name??
        };

        function getNodeColor(restrained,loaded,displaced){
            if (restrained){
                return 0xfa6e70;
            }else if(loaded){
                return 0x03dbfc;
            }else if(displaced){
                return 0x03dbfc;
            }else{
                return color3;
            }
        }

        function getMesh(size,restrained,loaded,displaced,ax,ay,az,opacity){
            var m=new THREE.Mesh(
                    new THREE.BoxGeometry(size, size, size),
                    new THREE.MeshLambertMaterial({
                        color: getNodeColor(restrained,loaded,displaced),
                        transparent: opacity>0.0?false:true,
                        opacity: opacity
                    })
                );
            m.rotation.x=ax;
            m.rotation.y=ay;
            m.rotation.z=az;

            return m;

        }

  
    </script>
  </body>