<head>
    <style> body { margin: 0; } </style>
    <title>MetaVoxel</title>
    <!-- <script src="//unpkg.com/three"></script> -->
    <script src="../lib/three.min.js"></script>
    <script src="../lib/TransformControls.js"></script>
  
    <script src="../lib/js-colormaps.js"></script>
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- <script src="//unpkg.com/3d-force-graph"></script> -->
    <script src="../lib/3d-force-graph.js"></script>
    <script src="//unpkg.com/three-spritetext"></script>

    <script src="../lib/dat.gui.js"></script>

    <script src="../visualization/utils.js"></script>
    <script src="../visualization/geometry.js"></script>
    <script src="../visualization/boundaryUtils.js"></script>
    <script src="../visualization/boundary.js"></script>
  </head>
  
  <body>
    
    
    <div id="3d-graph"></div>

    <div id="info">
			<!-- "W" translate | "E" rotate | "R" scale | "+/-" adjust size<br /> -->
			<!-- "Q" toggle world/local space |  "Shift" snap to grid<br />
			"X" toggle X | "Y" toggle Y | "Z" toggle Z | "Spacebar" toggle enabled<br />
			"C" toggle camera | "V" random zoom -->
    </div>
  
  </body>