<head>
    <style> body { margin: 0; } </style>
    <title>MetaVoxel</title>
    <script src="//unpkg.com/three"></script>
  
    <script src="../lib/js-colormaps.js"></script>
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="//unpkg.com/3d-force-graph"></script>
    <!-- <script src="../lib/3d-force-graph.js"></script> -->
    <script src="//unpkg.com/three-spritetext"></script>

    <script src="../visualization/utils.js"></script>
    <script src="../visualization/drawGraph.js"></script>
  </head>
  
  <body>
    <div id="3d-graph"></div>
  
    <script>
      var color1= 0xffffff; /*white*/
      var color2= '#020227';  /*kohly*/
      var color3= 0x1c5c61; /*teal*/
      var color4= 0xfa6e70; //red/orange
      var color5="#380152"; //purple
      var color6="#696767"; //grey
      var color7="#03dbfc"; //blue
  

  

	  $.getJSON("../json/setupScaling.json", function(json) {
      var setup=json.setup;
      setup.viz.colorMaps=[YlGnBu,coolwarm, winter ,jet];

      scale=10.0;

      var stress=0.0;
      var container='3d-graph';

      var Graph=drawGraph(container,setup,scale,true);
    });


    
  
  
    </script>
  </body>