body,html{width:100%;height:100%;padding:0;margin:0;}

:root {
    --color1: #ffffff; /*white*/
    --color11: #ffffff8c; /*shafaf*/
    --color2: #020227;  /*kohly*/
    --color3: #1c5c61; /*teal*/
    --top: 20px;  
    --dragwidth: 5px; 
    --bottom: 20px;
    --font: "Times New Roman", Times, serif;
    /* --font: "Andale Mono", AndaleMono, monospace; */
    /* --font: "Courier New", Courier, monospace; */
}

.header1{
    background-color: rgba(0, 0, 0, 0);/*transparent*/

    height: var(--top);
    width: 50%;
    float: left;
    position: absolute;

    bottom: var(--bottom);
    overflow-y: hidden;
    top:var(--dragwidth);
    /* left:var(--dragwidth); */

    font-family: var(--font);
    color: var(--color1);
    top:var(--dragwidth);
}

.header2{
    background-color:  rgba(0, 0, 0, 0);/*transparent*/

    height: var(--top);
    float: left;
    position: absolute;

    bottom: var(--bottom);
    top:var(--dragwidth);
    /* left:var(--dragwidth); */

    
    font-family: var(--font);
    color: var(--color1);
    
}

#threejs1{
    background-color: var(--color11);
    /* background-image: linear-gradient(+90deg, #03023d 90%,#ffffff ); */
    width: 100%;
    height: 100%;
    float: top;
    /* z-index: -1; */
}

#threejs{
   background-color: var(--color2);
   /* background-image: linear-gradient(+90deg, #03023d 90%,#ffffff ); */
   width: 50%;
   float: left;
   position: absolute;
   top:0px;
   /* bottom: 50%; */
   bottom: var(--bottom);
   overflow-y: hidden;
   font-family: var(--font);
   color: var(--color1);
   /* z-index: -1; */
}

#simulation{
    background-color: var(--color11);
    /* background-image: linear-gradient(+90deg, #03023d 90%,#ffffff ); */
    width: 50%;
    float: left;
    position: absolute;
    top:50%;
    bottom: var(--bottom);
    overflow-y: hidden;
    font-family: var(--font);
    color: var(--color2);
    /* z-index: -1; */
}

#webgl{
    top:var(--top);
    bottom: var(--bottom);
    overflow-y: hidden;
    font-family: var(--font);
    color: var(--color2);
}

#webgl1{
    /* top:100; */
    top:var(--top);
    bottom: var(--bottom);
    overflow-y: hidden;
    font-family: var(--font);
    color: var(--color2);
}

#graph{
    background-color: var(--color2);
    /* background-image: linear-gradient(+90deg, #ffffff, #ffffff); */
    float: right;
    float: top;
    position: absolute;
    top: 0px;
    /* bottom: 50%; */
    bottom: var(--bottom);
    right: 0;
    left:50%;
    font-family: var(--font);
    color: var(--color1);
}

#json{
    background-color: var(--color2);
    /* background-image: linear-gradient(+90deg, #ffffff, #ffffff); */
    float: right;
    float: bottom;
    position: absolute;
    /* top:var(--top); */
    bottom: var(--bottom);
    right: 0;
    left:50%;
    top:50%;
    font-family: var(--font);
    color: var(--color1);
}

.footer1{
    background-color: var(--color1);
    width: 50%;
    float: left;
    position: absolute;
    overflow-y: hidden;
    font-family: var(--font);
    color: var(--color2);
    height: var(--bottom);
    bottom:0;
}
 
.footer2{
    background-color: var(--color1);
    float: right;
    position: absolute;
    right: 0;
    left:50%;
    font-family: var(--font);
    color: var(--color2);
    height: var(--bottom);
    bottom:0;
}


.dragbar{
    /* background-color: var(--color3); */
   /* background-image: linear-gradient(+90deg, var(--color1) ,var(--color2) ,var(--color2)); */
   background-color: var(--color1);
   height:100%;
   float: left;
   width: var(--dragwidth);
   cursor: col-resize;
}

.dragbar1{
    /* background-color: var(--color3); */
    background-image: linear-gradient(+0deg, var(--color2)50% ,var(--color1)60% ,var(--color2));
    width:100%;
    left:var(--dragwidth);
    float: bottom;
    /* position: absolute; */
    height: var(--dragwidth);
    cursor: row-resize;
}

.dragbar2{
    /* background-color: var(--color3); */
    background-image: linear-gradient(+0deg, var(--color1)50% ,var(--color2)60% ,var(--color1));
    width:100%;
    left:var(--dragwidth);
    float: bottom;
    /* position: absolute; */
    height: var(--dragwidth);
    cursor: row-resize;
}

#cy {
    height: 100%;
    width: 100%;
    /* position: absolute; */
    /* float: right; */
    float: top;
    font-family: var(--font);
    /* left: var(--dragwidth);
    top:var(--top); */
}

#jsoneditor {
    width: 100%;
    height: 100%;
    float: bottom;
}

#jsondiveditor {
    width: 95%;
    height: 90%;
    left: var(--top);
    top:var(--top);
    float: right;
    float: top;
    position: absolute;
    color: var(--color1);
}

.button {
    background-color: transparent;
    border: 0;
    color: var(--color1);
    border: 1px solid var(--color3);
    padding: 4px 12px;
    
    -o-transition: background-color .2s ease-in; 
	-moz-transition: background-color .2s ease-in;
	-webkit-transition: background-color .2s ease-in; 
	transition: background-color .2s ease-in; 
}

.button:hover {
    background-color: #e5e5e5;    
}

.button:active {
    background-color: #ccc;
}

#time{
    z-index: 9999999;

}

.slidecontainer {
    width: 100%;
    /* background-color: var(--color1); */
    /* opacity: 0.0; */

    height: var(--top);
    /* width: 100%; */
    float: left;
    float: bottom;
    position: absolute;
    border-width: 10px;

    bottom: var(--bottom);
    overflow-y: hidden;
    /* top:var(--dragwidth); */
    /* left:var(--dragwidth); */

    font-family: var(--font);
    color: var(--color2);
    z-index: 1000000;
    /* top:var(--dragwidth); */
}
  

.slider {
  -webkit-appearance: none;
  width: 80%;
  margin-left: 10%;
  /* left: 50%; */
  height: var(--dragwidth/3);
  /* border-width: 10px; */
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--color3);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--color3);
  cursor: pointer;
}

